@import "../../lib/global.scss";

#skeleton-x-root {
  position: static !important;
}

.skeleton-x-mask {
  position: absolute;
  z-index: 9999998;
  background: #fff;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.skeleton-x-loading {
  position: fixed;
  z-index: 10000000;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0,0, 0, .3);
  display: flex;
  justify-content: center;
  align-items: center;
  .lds-dual-ring {
    display: inline-block;
    width: 80px;
    height: 80px;
  }
  .lds-dual-ring:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #cef;
    border-color: #cef transparent #cef transparent;
    animation: lds-dual-ring 1.2s linear infinite;
  }
  @keyframes lds-dual-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}